* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(0, 0, 33);
    color: white;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 85px;
    background-color: rgb(16, 16, 64);
    cursor: pointer;
}

nav ul {
    display: flex;
    justify-content: center;
}

nav ul li {
    list-style: none;
    margin: 0 20px;
}

nav ul li a {
    text-decoration: none;
    color: white;
}

nav ul li a:hover {
    color: rgb(153, 153, 244);
    font-size: 1.04rem;
}

main hr {
    border: 0;
    background-color: #9c97f1;
    height: 1.2px;
    margin: 60 px 84px;

}

.left {
    font-size: 1.5rem;
}

.firstsection {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 130px 0;

}

.firstsection>div {
    width: 30%;
}

.leftsection {
    font-size: 3rem;
}
.leftsection .buttons{
    padding: 50px 0px;
}
.leftsection .btn{
    padding: 0px 120px;
    background: #1e2167;
    color: white;
    border: 3px solid white;
    border-radius: 13px;
    font-size: 20px;
    cursor: pointer;
}

.rightsection img {
    width: 90%;
}

.purple {
    color: rgb(84, 65, 102);
}

.text-gray {
    color: gray;
}

#element {
    color: rgb(84, 65, 102);
}

.secondsection {
    max-width: 80vw;
    margin: 50px;
    height: 80vh;

}

.secondsection h1 {
    font-size: 1.9rem;
}

.secondsection .box {
    background: white;
    width: 77vw;
    height: 2px;
    margin: 56px 0;
    display: flex;
    align-items: baseline;
    justify-content: center;
}

.secondsection .vertical {
    height: 93px;
    width: 1px;
    background-color: white;
    margin: 0 80px;
}

.image-top {
    width: 23px;
    position: relative;
    top: -32px;
    left: -9px;
}

.vertical-title {
    position: relative;
    top: 75px;
    left: 0px;
    font-size: 14px;

}

.vertical-desc {
    position: relative;
    top: 86px;
    color: grey;
    width: 150px;
    font-size: 9px;

}
footer{
    background-color: #0e0e1a;
    
}
.footer{
    display: flex;
    padding: 23px 122px ;
    justify-content: space-evenly;
}
.footer ul{
    list-style: none;
}
.footer > div{
    width: 223px;
}
footer .footer-rights{
    text-align: center;
    color: gray;
    padding: 12px 0px;
}